<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <h2>OnClick Cleaner</h2>
    </div>

    <table class="center">
        <tr>
            
            <td> <a href="/register_customer">Register as customer</a> </td>
        </tr>
        <tr>			
            <td><a href="/read_cleaner">Register as cleaner</a></td>
        </tr>
        <tr>			
            <td>Already registered? Log In</td>
        </tr>
        <tr>			
            <td>
                <form class="form-signin" method="post">
                    <label for="username"><b>Student Email:</b></label>
                    <input class="form-control email" type="email" size="30" placeholder="Enter your user name" name="username"><br />
                    <label for="password"><b>Password:</b></label>
                    <input class="form-control email" type="password" size="30" placeholder="Enter your password" name="password"><br />
                    <button class="btn btn-primary text-center" type="submit" name="submit">Submit</button>
                </form>
            </td>
        </tr>
    </table>

</body>
</html>