<!-- TODO: Creating the authentication views -->

<!DOCTYPE html>
<html>
<head>
    <!-- Use the 'title' property to render a page title  -->
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  	<!-- Display flash messages  -->
	<% for(var i in messages) { %>
	   <div class="flash"><%= messages[i] %></div>
	<% } %>

	<!-- Render the signin form  -->
    <form action="/signin" method="post">
        <div class="container" style="width: 400px;">
            <h2> Sign In as User</h2>
                <label for="Username">Username: </label>
                <input class="form-control" type="text" class="fields" name="username" />
                <label for="password">Password:</label>
                <input class="form-control" type="password" class="fields" name="password" />
                <br>
                <button class="btn btn-primary" type="submit">Sign In</button>
        </div>
        <!-- Render the OAuth authentication links  -->
    </form>

</body>
</html>